@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img{
    max-width: 100%;
    object-fit: contain;
}

button:hover{
    cursor: pointer;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-shadow: -40px 0 37px 0 rgba(227, 227, 227, 1),
                 40px 0 37px 0 rgba(227, 227, 227, 1);
}


.navigation{
    display: flex;
    flex-wrap: wrap;
    margin: 0 70px;
    min-height: 64px;
}

.logo {
    margin-right: 30px;
    margin-bottom: -6px;
    width: 140px;
}

.logo-sedona{
    position: relative;
    z-index: 1;
    display: block;
}

.list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-navigation {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    max-width: 506px;
}

.navigation-list{
    position: relative;
    display: block;
    padding: 20px 16px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-transform: capitalize;
    height: 64px;
}

.list-current::after{
    position: absolute;
    right: 16px;
    left: 16px;
    bottom: -1px;
    height: 2px;
    content: "";
    background-color: #756257;
}

.navigation-list:hover {
    opacity: 30%;
}

.navigation-list:focus-visible {
    border-bottom: 1px solid #756257;
    padding-bottom: 20px;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    margin-left: auto;
    max-width: 268px;
}

.icons-list{
    display: block;
    padding: 18px 12px;
    min-height: 20px;
    min-width: 20px;
}

.navigation-icon{
    fill: #000000;
}

.icon-favorite{
    position: relative;
}

.icon-favorite::after{
    position: absolute;
    top: 10px;
    left: 20px;
    content: "12";
    min-width: 20px;
    height: 20px;
    padding: 5px 5px 5px 4px;
    box-sizing: border-box;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
    background-color: #7DB54F;
    border-radius: 50%;
}

.nav-button {
    border-radius: 4px;
    background: #756157;
    padding: 5px 27px;
    color: #FFF;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    margin: 14px 0 14px 20px;
    border-style: none;
    width: 160px;
    height: 36px;
    outline: none;
}

.nav-button:hover{
    background-color: #615048;
    cursor: pointer;
}

.nav-button:active{
    color: rgba(255, 255, 255, 0.3);
}

.nav-button:focus-visible{
    background-color: #615048;
}

.nav-button:disabled{
    background-color: #E5E5E5;
}

.main{
    flex-grow: 1;
}

.hero{
    display: block;
    width: 1200px;
    min-height: 485px;
    background-image: url("../img/background.svg"), url("../img/index-background.jpg");
    background-repeat: no-repeat;
    background-size: 100%, cover;
    background-position: top 100% left, bottom 100% left;
    background-color: #68A2CA;
}

.image-sedona{
    margin: 51px 371px;
}

img{
    max-width: 100%;
    object-fit: contain;
}

.item-title {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.item {
    margin: 69px 0 0 0;
    padding: 0;
}

.item-text{
    padding: 0;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin: 0 0 90px 0;
}

.advantages{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 0 65px 0;
}

.advantage-item {
    display: flex;
    justify-content: center;
    min-height: 385px;
    width: 400px;
    color: #FFFFFF;
}

.advantage-item:nth-child(1){
    background-color: rgb(130, 179, 211);
}

.advantage-item:nth-child(2), .advantage-item:nth-child(6){
    width: 800px;
    min-height: 385px;
    background-color: rgb(130, 179, 211);
}

.advantage-item:nth-child(3),  .advantage-item:nth-child(5){
    background-color: rgba(131, 179, 211, 0.122);
    padding-top: 10px;
}

.advantage-item:nth-child(4){
    padding-top: 10px;
    background-color: rgba(131, 179, 211, 0.2);
}

.advantage-item:nth-child(7){
    background-color: rgb(130, 179, 211);
}

.advantage-item-text {
    margin: 102px 80px;
    min-width: 235px;
}

.advantage-title{
    margin: 0 auto 30px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    text-align: center;
}

.advantage-title::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 60px;
    top: 87px;
    left: 85px;
    background-color: #FFFFFF4D;
}

.line-black::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 60px;
    top: 85px;
    left: 85px;
    background-color: #000000;
    opacity: 30%;
}

.advantage-item p{
    margin: 0;
    font-size: 18px;
    text-align: center;
    line-height: 21px;
    min-height: 42px;
    font-weight: 400;
    padding-top: 30px;
}

.advantage-item:nth-child(3), .advantage-item:nth-child(4), .advantage-item:nth-child(5){
    color: #000000;
}

.peculiarity {
    margin: 0 0 95px 0;
    padding: 0;
}

.peculiarity-title {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    padding: 0;
    text-align: center;
    margin: 0 0 20px 0;
}

.peculiarity-text{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.peculiarity-items {
    display: flex;
    flex-wrap: wrap;
    margin-top: 64px;
}

.peculiarity-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    min-height: 385px;
    background-repeat: no-repeat;
    background-size: 75px 72px;
    background-position: 50% 81px;
    text-align: center;
}

.peculiarity-list:nth-child(1) {
    background-image: url("../img/hotel.svg");
    background-repeat: no-repeat;
    background-size: 77px 72px;
    background-position: top 81px left 162px;
    background-color: rgba(131, 179, 211, 0.122);
}

.peculiarity-list:nth-child(2) {
    background-image: url("../img/burger.svg");
    background-repeat: no-repeat;
    background-size: 77px 72px;
    background-position: top 81px left 162px;
}

.peculiarity-list:nth-child(3){
    background-image: url("../img/souvenir.svg");
    background-repeat: no-repeat;
    background-size: 77px 72px;
    background-position: top 81px left 162px;
    background-color: rgba(131, 179, 211, 0.122);
}

.peculiarity-list h3{
    display: block;
    width: 230px;
    margin: 183px auto 30px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
}

.peculiarity-list p{
    width: 230px;
    margin: 0;
    padding-bottom: 81px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
}

.search {
    margin: 0;
    padding: 0;
}

.search h2{
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    padding: 0;
    text-align: center;
    margin: 0 0 20px 0;
}

.search p{
    padding: 0;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 54px 0;
}

.button-search {
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    background: #756157;
    width: 376px;
    min-height: 52px;
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    margin-bottom: 96px;
    color: aliceblue;
    border-style: none;
    outline: none;
}

.button-search:hover{
    background-color: #615048;
    cursor: pointer;
}

.button-search:active{
    color: rgba(255, 255, 255, 0.3);
}

.button-search:disabled{
    background-color: #E5E5E5;
}

.button-search:focus-visible{
    background-color: #615048;
}

.mail {
    background-color: #68A2CA;
    background-image: url("../img/email-background.svg");
    text-align: center;
    color: #FFFFFF;
    min-height: 415px;
}

.mail h2{
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    padding-top: 96px;
    margin-bottom: 20px;
}

.mail p{
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
}

.input {
    margin: 54px auto 104px;
    width: 684px;
    display: flex;
    justify-content: center;
}

.mail-input {
    border-radius: 4px 0 0 4px;
    border-style: none;
    padding: 11px 17px;
    width: 452px;
    color: #5a5a5a;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 24px;
    background-color: #F2F2F2;
    border: 3px solid transparent;
    outline: none;
}

.mail-input:focus-visible {
    border: 2px solid #68A2CA;
    box-sizing: content-box;
}

.button-mail {
    width: 232px;
    background-color: #82B3D3;
    color: #FFFFFF;
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    border-radius: 0 4px 4px 0;
    border-style: none;
    padding: 8px 50px;
    outline: none;
}

.button-mail:hover{
    background-color: #68A2CA;
    cursor: pointer;
}

.button-mail:active{
    color: rgba(255, 255, 255, 0.3);
}

.button-mail:disabled{
    background-color: #E5E5E5;
}

.button-mail:focus{
    background-color: #68A2CA;
}

.page{
    background-image: url("../img/bacground-filter.png");
    background-color: #68A2CA;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1200px;
    min-height: 408px;
    padding: 35px 70px 70px 70px;
}

.page h1{
    font-size: 60px;
    color: #FFFFFF;
    font-weight: 700;
    text-transform: none;
    line-height: 78px;
    text-align: start;
    margin: 0;
    padding: 0;
}

.home {
    display: inline-flex;
    margin: 0;
    color: #FFF;
    height: 20px;
    width: 114px;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 15px 0 0 0;
}

.home-list-item-before{
    position: relative;
    outline: none;
}

.home-list-item-before::before{
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../img/before.svg");
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    left: 23px;
    top: 10px;
}

.home-list-item{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    display: block;
    text-align: center;
}

.filter {
    display: flex;
    color: #FFF;
    width: 1060px;
    margin: 0 auto;
    height: 160px;
    padding: 35px 0 0 0;
}

.filter p {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 35px 0;
}

.container {
    display: block;
    position: relative;
    padding-left: 36px;
    margin-bottom: 16px;
    cursor: pointer;
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
}

.container input {
    position: relative;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    border-radius: 25%;
}

input[type="checkbox"]:focus-visible + span {
    border: 3px solid #83B3D3;
}

.container input:checked ~ .checkmark {
    background-color: #ffffff;
}

.checkmark::after {
    content: "";
    position: relative;
    display: none;
    background-image: url("../img/check.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 4px;
    top: 5px;
    width: 12px;
    height: 10px;
    border-width: 0 3px 3px 0;
}

.radio-button {
    margin: 0 140px 0 72px;
}

.form-radio-hidden{
    display: flex;
    flex-direction: row;
    height: 20px;
    position: relative;
    align-items: center;
    margin: 0 0 20px 0;
}

.form-radio-hidden:hover{
    opacity: 30%;
}

.form-radio-hidden:active{
    opacity: 100%;
}

input[name="button-radio"]:focus-visible + span {
    border: 3px solid #83B3D3;
}

.form-radio-hidden input{
    position: absolute;
    opacity: 0;
    display: block;
    height: 0;
    width: 0;
}

.form-radio-hidden .radio{
    appearance: none;
    display: inline-block;
    position: relative;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    margin-right: 16px;
    background-color: #ffffff;
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
    transition: .5s all;
}

.form-radio-hidden:hover .radio{
    background-color: #ffffff;
    box-shadow: inset 1px 2px 3px 0 rgba(0,0,0,0.1);
}

.form-radio-hidden:hover .radio::before, .form-radio-hidden input:checked + .radio::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 8px;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.form-radio-hidden input:checked + .radio::before{
    background-color: #3F5E72;
}

.form-radio-hidden input + .radio + .text{
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
    margin-right: 10px;
    align-self: center;
    line-height: 23px;
}

.cost-filter{
    margin: 0 70px 0 0;
    padding: 0;
    height: 160px;
    width: 290px;
}

.cost {
    width: 289px;
    display: flex;
    margin-bottom: 32px;
}

.cost-areal {
    margin-right: 2px;
    display: flex;
    height: 48px;
    width: 143px;
}

.cost-areal span {
    color: #000000;
    opacity: 30%;
    position: absolute;
    padding-left: 105px;
    padding-top: 12px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.cost-areal span:hover {
    display: none;
}

.before {
    padding: 12px 20px;
    border-radius: 4px 0 0 4px;
    border-style: none;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    width: 143px;
    outline: none;
}

.before:hover{
    background-color: #E6E6E6;
}

.before:focus-visible{
    border: 3px solid #82B3D3;
}

.after {
    padding: 12px 20px;
    border-radius: 0 4px 4px 0;
    border-style: none;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    width: 143px;
    outline: none;
}

.after:hover{
    background-color: #E6E6E6;
}

.after:focus-visible{
    border: 3px solid #82B3D3;
}

.button-filter-clear{
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    width: 200px;
}

.filter-button {
    margin-top: 58px;
    background-color: #82B3D3;
    padding: 8px 50px;
    border-radius: 4px;
    color: #FFFFFF;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    border-style: none;
}

.filter-button:hover{
    background-color: #68A2CA;
    cursor: pointer;
}

.filter-button:active{
    color: rgba(255, 255, 255, 0.3);
}

.filter-button:focus-visible{
    background-color: #68A2CA;
}

.filter-button:disabled{
    background-color:#E5E5E5;
}

.clear-button {
    margin-top: 30px;
    background-color: transparent;
    border-style: none;
    padding: 8px 50px;
    color: #FFFFFF;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    width: 85px;
    border: 2px solid transparent;
    box-sizing: content-box;
    border-radius: 4px;
    outline: none;
}

.clear-button:hover{
    opacity: 60%;
    cursor: pointer;
}

.clear-button:focus-visible{
    opacity: 100%;
    border: 2px solid #83B3D3;
    box-sizing: content-box;
}

.clear-button:active{
    opacity: 30%;
}

.clear-button:disabled{
    opacity: 10%;
}

.hotel {
    margin: 53px auto 25px;
    width: 1060px;
    border-bottom: 1px solid #E6E6E6;
}

.holel-head {
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.holel-head h2{
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.hotel-form {
    padding-left: 200px;
    margin-right: 70px;
}

.hotel-select {
    width: 292px;
    padding: 12px 20px 12px 20px;
    border-color: #E5E5E5;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    font-family: "PT Sans", sans-serif;
    border-radius: 4px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("../img/select.svg");
    background-repeat: no-repeat;
    background-position: top 50% left 93%;
}

.hotel-select:hover{
    outline: none;
    border: 2px solid #68A2CA;
}

.hotel-select:focus-visible{
    border: 2px solid #68A2CA;
}

.hotel-select:disabled{
    opacity: 30%;
}

.button-areal{
    width: 160px;
    display: flex;
    justify-content: space-between;
}

.areal {
    height: 48px;
    width: 48px;
    background-color: #FFFFFF;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    padding: 14px 12px;
    position: relative;
    outline: none;
}

.arial-icon{
    position: absolute;
    margin: auto;
    top: 15px;
    left: 14px;
}

.areal:hover{
    cursor: pointer;
    border: 2px solid #000000;
}

.areal:active{
    border: 2px solid #000000;
}

.areal:focus-visible{
    border: 2px solid #68A2CA;
}

.hotel-list {
    display: flex;
    flex-wrap: wrap;
    gap: 19px;
    padding: 17px 0 20px 0;
}

.hotel-items {
    width: 340px;
    min-height: 438px;
    list-style: none;
    padding: 20px;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    margin-bottom: 2px;
}

.hotel-items a{
    text-decoration: none;
    color: #000000;
}

.hotel-items h3{
    margin: 0;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    padding: 10px 0 15px 0;
}

.price {
    display: flex;
    justify-content: space-between;
}

.price p{
    margin: 0;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
}

.hotel-button {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 16px;
    width: 300px;
}

.details {
    font-family: "PT Sans", sans-serif;
    background: #756157;
    padding: 8px 16px;
    width: 140px;
    height: 36px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    border-radius: 4px;
    border-style: none;
    margin-bottom: 16px;
}

.details:hover{
   background: #615048;
   cursor: pointer;
}

.details:active{
    color: rgba(255, 255, 255, 0.3);
}

.details:focus-visible{
    background: #615048;
}

.details:disabled{
    background: #E5E5E5;
}

.favorite {
    font-family: "PT Sans", sans-serif;
    padding: 8px 16px;
    width: 140px;
    height: 36px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    border-radius: 4px;
    border-style: none;
    background-color: #82B3D3;
    margin-bottom: 16px;
}

.favorite:hover{
    background-color: #68A2CA;
    cursor: pointer;
}

.favorite:active{
    color: rgba(255, 255, 255, 0.3);
}

.favorite:focus-visible{
    background-color: #68A2CA;
}

.favorite:disabled{
    background-color: #E5E5E5;
}

.favorite-style {
    font-family: "PT Sans", sans-serif;
    padding: 8px 16px;
    width: 140px;
    height: 36px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    border-radius: 4px;
    border-style: none;
    background-color: #7DB54F;
    margin-bottom: 16px;
}

.favorite-style:hover{
    background-color: #6C9E42;
    cursor: pointer;
}

.favorite-style:active{
    color: rgba(255, 255, 255, 0.3);
}

.favorite-style:focus-visible{
    background-color: #6C9E42;
}

.favorite-style:disabled{
    background-color: #E5E5E5;
}

.star {
    width: 140px;
    height: 36px;
    background-image: url("../img/Star4.svg");
    background-repeat: no-repeat;
    background-position: top 50% left 0;
}

.star-three{
    width: 140px;
    height: 36px;
    background-image: url("../img/Star3.svg");
    background-repeat: no-repeat;
    background-position: top 50% left 0;
}

.star-two {
    width: 70px;
    height: 36px;
    background-image: url("../img/Star2.svg");
    background-repeat: no-repeat;
    background-position: top 50% left 0;
}

.raiting {
    background-color: #F2F2F2;
    width: 140px;
    padding: 8px 16px;
    height: 36px;
    border-radius: 4px;
    border-style: none;
    color: #333333;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.number-list {
    display: flex;
    list-style: none;
    margin: 35px 0 60px 70px;
    padding: 0;
}

.number-item-active {
    width: 60px;
    height: 60px;
    background-color: #F2F2F2;
    text-align: center;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #000000;
    border-style: none;
    border-radius: 4px;
    margin-right: 8px;
}

.number-item {
    width: 60px;
    height: 60px;
    background-color: #82B3D3;
    text-align: center;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #FFFFFF;
    border-style: none;
    border-radius: 4px;
    margin-right: 8px;
}

.number-item:hover{
    background-color: #68A2CA;
    cursor: pointer;
}

.number-item:active{
    color: rgba(255, 255, 255, 0.3);
}

.number-item:focus-visible{
    background-color: #68A2CA;
}

.number-item-pass {
    width: 60px;
    height: 60px;
    background-color: #FFFFFF;
    text-align: center;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #000000;
    border-style: none;
    border-radius: 4px;
    margin-right: 8px;
}

.mail-catalog {
    text-align: center;
    color: #000000;
    height: 415px;
}

.mail-catalog h2{
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    padding-top: 96px;
    margin: 0;
}

.mail-catalog p{
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
}

.footer-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    padding: 40px 70px 30px 70px;
}

.footer-main a {
    text-decoration: none;
}

.social{
    display: flex;
    flex-wrap: wrap;
    width: 145px;
}

.social-item{
    position: relative;
    width: 48px;
    height: 41px;
}

.social-reference{
    position: absolute;
    display: block;
    width: 48px;
    height: 41px;
    padding: 8px 12px;
}

.social-reference:hover path{
    fill: #68A2CA;
}

.social-reference:active{
    opacity: 30%;
}

.social-reference:focus-visible path{
    border-style: none;
    fill: #68A2CA;
}

.tel{
    display: inline-block;
    width: 720px;
    font-size: 40px;
    line-height: 40px;
    font-style: normal;
    text-decoration: none;
    word-break: break-all;
    color: #000000;
    text-align: center;
    margin-top: 5px;
}

.tel:hover{
    color: #756157;
}

.tel:focus{
    color: #756157;
}

.tel:active{
    opacity: 30%;
}

.logo-html{
    padding-top: 7px;
}

.logo-html:hover path, .logo-html:focus-visible path{
    fill: #756157;
}

.logo-html:active{
    opacity: 30%;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(201, 201, 201, 0.8);
}

.modal-container-close {
    display: none;
}

.modal {
    position: relative;
    margin: auto;
    padding: 64px 70px;
    background-color: #FFFFFF;
    border-radius: 30px;
    width: 717px;
}

.modal-close-button {
    position: absolute;
    padding: 0;
    top: 63px;
    right: 50px;
    width: 52px;
    height: 52px;
    border: none;
    background-image: url("../img/close.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border-radius: 50%;
    background-color: #F2F2F2;
    outline: none;
}

.modal-close-button:focus-visible{
    border: 2px solid #83B3D3;
}

.modal-close-button:hover{
    background-color: #E6E6E6;
}

.modal-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.modal-title {
    margin: 0;
    margin-bottom: 41px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.field-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 597px;
    margin-top: 23px;
}

.visually-hidden-text{
    max-width: 137px;
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-transform: capitalize;
}

.auth-form-field {
    width: 440px;
    height: 48px;
    border: none;
    background-color: #F2F2F2;
    padding: 12px 20px;
    border-radius: 4px;
    background-image: url("../img/date.svg");
    background-repeat: no-repeat;
    background-position: 22em 15px;
    font-family: "PT Sans", sans-serif;
    color: #000000;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    outline: none;
}

.auth-form-field:focus-visible{
    border: 2px solid #83B3D3;
    border-radius: 4px;
}

.modal-line-red{
    margin: 0 3px 0 10em;
    padding: 0;
    font-size: 16px;
    line-height: 21px;
    color: #FF5757;
}

.modal-line-black {
    margin: 0 3px 0 10em;
    padding: 0;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}

.number-adults {
    display: flex;
    align-items: center;
    margin-top: 23px;
}

.number-childs {
    display: flex;
    align-items: center;
    margin-top: 23px;
}

.button-number{
   display: flex;
   width: 110px;
   height: 48px;
   margin-left: 48px;
   border-style: none;
   background-color: #F2F2F2;
   border-radius: 5px;
   cursor: pointer;
}

.button-minus{
    position: relative;
    display: block;
    height: 20px;
    width: 20px;
    margin: 14px 10px;
    font-family: inherit;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    outline: none;
}

.button-minus-svg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 14px;
    height: 20px;
    border-radius: 4px;
    fill: #D9D9D9;
}

.button-minus:hover path{
    fill: #000000;
    cursor: pointer;
}

.button-minus:focus-visible{
    border: 2px solid #83B3D3;
    border-radius: 4px;
}

.button-plus{
    position: relative;
    display: block;
    height: 20px;
    width: 20px;
    margin: 14px 10px;
    font-family: inherit;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    outline: none;
}

.button-plus-svg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 14px;
    height: 20px;
    border-radius: 4px;
    fill: #D9D9D9;
}

.button-plus:hover path{
    fill: #000000;
}

.button-plus:focus-visible{
    border: 2px solid #83B3D3;
    border-radius: 4px;
}

.input-plus-minus {
    padding: 0;
    width: 31px;
    background-color: #F2F2F2;
    border-style: none;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
}

.find {
    margin-top: 48px;
    background-color: #83B3D3;
    width: 577px;
    min-height: 60px;
    padding: 18px 77px;
    border-radius: 10px;
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    border-style: none;
    outline: none;
}

.find:hover, .find:focus-visible{
    background-color: #68A2CA;
}

.find:active{
    color: rgba(255, 255, 255, 0.3);
}

.find:disabled{
    background-color: #E5E5E5;
}

.tooltip {
    position: absolute;
    margin-top: 4px;
    margin-left: 45px;
    width: 26px;
    height: 26px;
}

.tooltip-toggle {
    border: none;
    background-color: transparent;
    padding: 0;
    display: block;
    width: 26px;
    height: 26px;
}

.tooltip-toggle:hover .tooltip-icon {
    color: #AF7842;
}

.tooltip-svg{
    margin-left: 10px;
}

.tooltip-text {
    background-color: #242424;
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    text-transform: none;
    padding: 15px 18px 18px 18px;
    border-radius: 8px;
    width: 216px;
    position: absolute;
    top: 100%;
    margin-top: 15px;
    left: 80%;
    transform: translateX(-50%);
    z-index: 1;
    display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text:after {
    content:'';
    background-image: url("../img/tooltip.svg");
    width: 19px;
    height: 9px;
    position:absolute;
    bottom: 100%;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
}
