@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}


body {
    font-family: "PT Sans";
    font-size: 22px;
    width: 1200px;
    height: 64px;
    margin: 0 auto;
}

.header-main {
    width: 1200px;
    height: 64px;
    margin: 0 auto;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    margin: 0 70px;
}
.navigation{
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-right: 30px;
}

.site-navigation {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    height: 64px;
}


.site-navigation-item a{
    margin: 0;
    padding: 0 16px;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-transform: capitalize;
}


.icons {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.nav-button {
    border-radius: 4px;
    background: #756157;
    padding: 8px 25px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-left: 8px;
}

.hero{
    background-image: url("/img/фон-фильтра.png");
    width: 1200px;
    height: 408px;
}

.hero h1{
    font-size: 60px;
    color: #FFFFFF;
    font-weight: 700;
    text-transform: none;
    line-height: 78px;
    text-align: start;
    padding: 35px 70px 8px 70px;
    margin: 0;
}
.home {
    display: inline-flex;
    padding: 0 70px;
    margin: 0;
    color: #FFF;
    height: 21px;
    width: 114px;
    align-items: center;
    justify-content: space-between;
}

.home p{
    margin: 0;
    font-size: 16px;
}

.filter {
    display: flex;
    justify-content: space-around;
    color: #FFF;
}

.filter p {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
    line-height: 23px;
    font-weight: 400;

  }

  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 25%;
  }

  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  .container input:checked ~ .checkmark {
    background-color: #ffffff;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .container input:checked ~ .checkmark:after {
    display: block;
  }

  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


















.footer-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px 70px 30px 70px;
}

.social{
    display: flex;
    gap: 25px;
    align-items: center;
}

.footer-main a {
    text-decoration: none;
    color: black;
    font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 40px;
text-transform: uppercase;
}
