body {
    font-family: "PT Sans";
    font-size: 22px;
    width: 1200px;
    height: 64px;
    margin: 0 auto;
}

.header-main {
    width: 1200px;
    height: 64px;
    margin: 0 auto;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    margin: 0 70px;
}
.navigation{
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-right: 30px;
}

.site-navigation {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    height: 64px;
}


.site-navigation-item a{
    margin: 0;
    padding: 0 16px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-transform: capitalize;
}


.icons {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.nav-button {
    border-radius: 4px;
    background: var(--Buttons-basic, #756157);
    padding: 8px 25px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-left: 8px;
}

/*шапка*/


.item {
    margin: 0;
    padding: 0;
    margin-top: 69px;
}

h1 {

    padding: 0;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 25px 0;
}

.item p{
    padding: 0;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin: 0 0 90px 0;
}

.photo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 64px;
}


.advantage {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    padding: 0;
    text-align: center;
    margin: 0 0 20px 0;
}
.advantage p{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 64px;
}
.photo-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 96px;
}

.search {
    margin: 0;
    padding: 0;

}
.search h2{
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    padding: 0;
    text-align: center;
    margin: 0 0 20px 0;
}

.search p{

    padding: 0;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 54px 0;
}

.button-search {
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    background: var(--Buttons-basic, #756157);
    padding: 10px 50px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 96px;
}
.button-search a{
    text-decoration: none;
    color: #FFF;
    text-align: center;
}


.footer-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px 70px 30px 70px;
}

.social{
    display: flex;
    gap: 25px;
    align-items: center;
}

.footer-main a {
    text-decoration: none;
    color: black;
    font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 40px;
text-transform: uppercase;
}
